# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Media
wechat_platform/media

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# Settings
wechat_platform/config/local.py
wechat_platform/config/production.py