<form class="form-horizontal" role="form" id="form">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">用户组名称 <span class="text-red">*</span></label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name">
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </div>
    </div>
</form>