<form class="form-horizontal" role="form" id="form">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">用户组名称 <span class="text-red">*</span></label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">用户组权限 <span class="text-red">*</span></label>
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <input type="checkbox" name="1" class="viewall">
                            查看
                        </th>
                        <th>
                            <input type="checkbox" name="1" class="addall">
                            添加
                        </th>
                        <th>
                            <input type="checkbox" name="1" class="editall">
                            修改
                        </th>
                        <th>
                            <input type="checkbox" name="1" class="deleteall">
                            删除
                        </th>
                        <th>
                            <input type="checkbox" name="1" class="allall">
                            全部
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>用户管理</th>
                        <td>
                            <input type="checkbox" class="view 1">
                        </td>
                        <td>
                            <input type="checkbox" class="add 1">
                        </td>
                        <td>
                            <input type="checkbox" class="edit 1">
                        </td>
                        <td>
                            <input type="checkbox" class="delete 1">
                        </td>
                        <td>
                            <input type="checkbox" class="all 1">
                        </td>
                    </tr>
                    <tr>
                        <th>用户组管理</th>
                        <td>
                            <input type="checkbox" class="view 9">
                        </td>
                        <td>
                            <input type="checkbox" class="add 9">
                        </td>
                        <td>
                            <input type="checkbox" class="edit 9">
                        </td>
                        <td>
                            <input type="checkbox" class="delete 9">
                        </td>
                        <td>
                            <input type="checkbox" class="all 9">
                        </td>
                    </tr>
                    <tr>
                        <th>公众号管理</th>
                        <td>
                            <input type="checkbox" class="view 9">
                        </td>
                        <td>
                            <input type="checkbox" class="add 9">
                        </td>
                        <td>
                            <input type="checkbox" class="edit 9">
                        </td>
                        <td>
                            <input type="checkbox" class="delete 9">
                        </td>
                        <td>
                            <input type="checkbox" class="all 9">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </div>
    </div>
</form>