<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>公众号名称：</strong><span id="account-name"></span></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading sub-panel-heading">
                                <p class="panel-title">接口信息</p>
                            </div>
                            <div class="panel-body sub-panel-body">
                                <table class="table table-official-account no-table-border">
                                    <tbody>
                                        <tr>
                                            <th style="width: 130px">接口地址</th>
                                            <td id="account-request-url"></td>
                                        </tr>
                                        <tr>
                                            <th>Token</th>
                                            <td id="account-token"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading sub-panel-heading">
                                <h7 class="panel-title">基本信息</h7>
                            </div>
                            <div class="panel-body sub-panel-body">
                                <table class="table table-official-account no-table-border">
                                    <tbody>
                                        <tr>
                                            <th>公众号等级</th>
                                            <td id="account-level"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 130px">App ID</th>
                                            <td id="account-appid"></td>
                                        </tr>
                                        <tr>
                                            <th>App Secret</th>
                                            <td id="account-appsecret"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading sub-panel-heading">
                                <h7 class="panel-title">高级支持</h7>
                            </div>
                            <div class="panel-body sub-panel-body">
                                <table class="table table-official-account no-table-border">
                                    <tbody>
                                        <tr>
                                            <th style="width: 130px">公众平台用户名</th>
                                            <td id="account-username"></td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <th>公众平台密码</th>
                                            <td id="account-password"></td>
                                        </tr>
                                        <tr>
                                            <th>高级支持</th>
                                            <td id="account-is-advanced"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading sub-panel-heading">
                                <h7 class="panel-title">详细信息</h7>
                            </div>
                            <div class="panel-body sub-panel-body">
                                <table class="table table-official-account no-table-border">
                                    <tbody>
                                        <tr>
                                            <th style="width: 130px">登录邮箱</th>
                                            <td id="account-email"></td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <th>原始ID</th>
                                            <td id="account-original"></td>
                                        </tr>
                                        <tr>
                                            <th>绑定微信号</th>
                                            <td id="account-wechat"></td>
                                        </tr>
                                        <tr>
                                            <th>介绍</th>
                                            <td id="account-introduction"></td>
                                        </tr>
                                        <tr>
                                            <th>地址</th>
                                            <td id="account-address"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">
                    <a href="#/edit/<%= id %>" type="button" data-toggle="tooltip" data-placement="bottom" title="编辑该公众号设置" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i> <strong>编辑</strong></a>
                    <a type="button" data-toggle="tooltip" data-placement="bottom" title="删除该公众号" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-remove"></i> <strong>删除</strong></a>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>