<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 toppad">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span><strong>公众号名称：</strong></span><%= name %></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <table class="table table-official-account">
                        <tbody>
                            <tr>
                                <th>接口地址</th>
                                <td><%= request_url %></td>
                            </tr>
                            <tr>
                                <th>Token</th>
                                <td><%= token %></td>
                            </tr>
                            <tr>
                                <th>公众号等级</th>
                                <td><%= level_readable %></td>
                            </tr>
                            <tr>
                            <tr>
                                <th>高级支持</th>
                                <td>是</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-new-window"></i> 查看详细信息</button>
                <span class="pull-right">
                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
        </div>
    </div>
</div>